 body {
     font-family: sans-serif;
     color:white;
     background:black;
}
 a {
     color: #369;
}
 h1{
     text-align:center;
}
 #drop-area {
     border: 2px dashed #ccc;
     border-radius: 20px;
     width: 480px;
     margin: 50px auto;
     padding: 20px;
}
 #drop-area.highlight {
     border-color: purple;
}
 p {
     margin-top: 0;
}
 .my-form {
     margin-bottom: 10px;
}
 #gallery {
     margin-top: 10px;
     text-align:center;
}
 #gallery a{
     display: inline-block;
     margin-left:20px;
     margin-right:20px;
}
 #gallery img {
     width: 150px;
     margin-bottom: 10px;
     margin-right: 10px;
     vertical-align: middle;
}
 .button {
     display: inline-block;
     padding: 10px;
     background: #ccc;
     cursor: pointer;
     border-radius: 5px;
     border: 1px solid #ccc;
     color:black;
}
 .button:hover {
     background: #ddd;
}
 #fileElem {
     display: none;
}
 #full{
     margin-top: 10px;
     padding-top:10px;
     text-align:center;
}
/*-----image preview fragment styles-----*/
 .fragment {
     font-size: 12px;
     font-family: tahoma;
     height: 210px;
     width:500px;
     border: 1px solid #ccc;
     color: #555;
     display: block;
     box-sizing: border-box;
     text-decoration: none;
     margin: 50px auto;
     padding: 20px;
}
 .fragment img {
     float: left;
     margin-right: 10px;
}
 .fragment h2{
     padding-top:0;
     margin-top:0;
}
 .fragment h3 {
     padding: 0;
     margin: 0;
     color: #369;
}
 .fragment h4 {
     padding: 0px;
     margin: 5px;
     color: #369;
}
 .close {
     float:right;
     display:inline-block;
     padding:2px 5px;
     background:red;
     color:black;
     font-weight:800;
}
 